/* layout/_projects.scss */

.section-projects {
  // Ici tu mets le style global de ta section projets
  margin: 4rem 0;

  h2 {
    font-size: 36px;
    font-weight: 700;
    color: $white;
    margin-bottom: 2rem;
  }

  article {
    background-color: lighten($nightblue, 4%);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    margin-bottom: 2rem;

    h3 {
      margin-bottom: 0.5rem;
      color: $accent;
    }

    p {
      color: $gray;
    }
  }
}
