$primary: #55198b;
$secondary: #aaa5ff;
$accent: #fec131;
$gray: #868e96;
$lightgray: #f3efef;
$dark: #171c28;
$white: #ffffff;
$nightblue: #01011D;

$colors: (
  primary: $primary,
  secondary: $secondary,
  accent: $accent,
  gray: $gray,
  dark: $dark
);
