.btn {
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  &:hover {
    transform: translateY(-4px);
  }
}

.btn-primary {
  background: linear-gradient(
    135deg,
    lighten($primary, 5%),
    darken($primary, 5%)
  );
  color: $white;
}
.btn-accent {
  background-color: $accent;
  color: $dark;
}
@each $name, $color in $colors {
  .btn-#{$name} {
    background-color: $color;
    border-color: darkenBorder($color);
    color: getFontColor($color);

    &:hover {
      background-color: lighten($color, 10%);
    }
  }
}
