// =========================
//   Base globale
// =========================

body {
  background-color: $nightblue;
  color: $white;
  font-family: 'Montserrat', system-ui, sans-serif;
  font-size: 16px;      // mobile
  line-height: 1.6;
  margin: 0 20px;
}

// Desktop 
@media (min-width: 768px) {
  body {
    font-size: 18px;
    margin: 0 30px;
  }
}
// =========================
//   Sections globales
//  ========================= 

section {
  margin: 4rem 0;
}
// =========================
//   Media Queries
//  ========================= 
   @media (min-width: 768px) {
  section {
    margin: 8rem 0;
  }
   }

